<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/navbar.ejs') %>

   <div class="about content">
        <h2>About Me</h2>
    <!-- Contents -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellat necessitatibus perspiciatis architecto ad asperiores, 
        libero explicabo voluptas porro culpa vel? Cumque sunt eum enim? 
        Laborum nostrum odit nihil officia et.</p>
   </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>